body{
  background-color: darkcyan;
}

header {
  font-family: 'Sen', sans-serif;
  font-size: x-large;
  text-align: center;
  color: rgb(91, 65, 128);
}

#display{
  text-align: center;
  font-family: 'Sen', sans-serif;
}

#displayBox{
  font-size: x-large;
  background-color: cornsilk;
  border-radius: 20%;
}

.options{
  display: flex;
  justify-content: center;
  font-family: 'Sen', sans-serif;
}

.choiceButtons{
  font-size: large;
  border-radius: 30%;
  background-color: cornsilk;
  color: black;
  border: 2px solid black;
  transition-duration: 0.4s;
  cursor: pointer;
}

.choiceButtons:hover {
  background-color: green;
}
